h1{
    color: rgb(52, 3, 99);
    text-align: center;
    font-weight: 600;
    font-family:sans-serif;
    
}
#trans1{
    background-color:rgba(62, 25, 110, 0.521); ;
}
a{
    color:rgb(242, 228, 243) ;
   
}
a:hover{
    color:rgb(243, 227, 9); ;
  
}

